@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Poppins:wght@200;300;400&family=Raleway:wght@300;400;500;600;700&display=swap");
@import "./form.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  padding-right: 1em;
  padding-left: 2em;
  margin-right: auto;
  margin-left: auto;
}
